<ng-container *ngIf="anime">

<div class="row title-row">
    <h2 id="main-title">{{anime.title}}</h2>
</div>

<div class="row body-row">
    <div class="col-sm-2 side-column">
        <div class="row">
            <div class="col-sm-12">
                <img [src]="anime.image_url">
            </div>
        </div>

        <div class="side-column-section">
            <p>
                <strong>Titles</strong>
            </p>

            <p class="no-bottom"><strong>English:</strong> {{anime.title_english}}</p>

            <p ><strong>Japanese:</strong> {{anime.title_japanese}}</p>

        </div>

        <div class="side-column-section">
                <p>
                    <strong>Information</strong>
                </p>
    
                <p class="no-bottom"><strong>Type:</strong> {{anime.type}}</p>
                <p class="no-bottom"><strong>Episodes:</strong> {{anime.episodes}}</p>
                <p class="no-bottom"><strong>Duration:</strong> {{anime.duration}}</p>
                <p class="no-bottom"><strong>Rating:</strong> {{anime.rating}}</p>
                <p class="no-bottom"><strong>Genres:</strong> {{genresString}}</p>
                <p class="no-bottom"><strong>Status:</strong> {{anime.status}}</p>
                <p class="no-bottom"><strong>Aired:</strong> {{anime.aired?.string}}</p>
                <p class="no-bottom"><strong>Season:</strong> {{anime.premiered}}</p>
                <p><strong>Studios:</strong> {{studiosString}}</p>
    
        </div>

        <div class="side-column-section">
                <p>
                    <strong>Links</strong>
                </p>
        
                <a [href]="anime.url" target="_blank">MyAnimeList</a>
        </div>
    </div>

    <div class="col-sm-10">

        <div>
            <ng-container *ngIf="ratingLoading === false; else loadingRating">
                <p>
                    <strong>Your Details: </strong>
                    <ng-container *ngIf="!myRating" class="error-message">You Have Not Added This To Your List</ng-container>
                </p>

                <div class="row">
                    <div class="col-sm-3">
                        <strong>List:</strong>
                        <select class="form-control" name="list" [(ngModel)]="myRating.list">
                            <option *ngFor="let listOption of listOptions" [value]="listOption.value">{{listOption.label}}</option>
                        </select>
                        
                    </div>
    
                    <div class="col-sm-3">
                        <strong>Rating:</strong>
                        <select class="form-control" name="rating" [(ngModel)]="myRating.rating">
                            <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption.value">{{ratingOption.label}}</option>
                        </select>
                    </div>
    
                    <div class="col-sm-3">
                        <strong>Episodes Seen (/{{anime.episodes}}):</strong> 
                        <input class="form-control" name="episodes-seen" [(ngModel)]="myRating.episodesSeen">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <strong>Date Added:</strong>
                        <input class="form-control" name="episodes-seen" type="date" [(ngModel)]="myRating.dateAdded">
                    </div>

                    <div class="col-sm-3">
                        <strong>Date Started:</strong>
                        <input class="form-control" name="episodes-seen" type="date" [(ngModel)]="myRating.dateStarted">    
                    </div>

                    <div class="col-sm-3">
                        <strong>Date Completed:</strong>
                        <input class="form-control" name="episodes-seen" type="date" [(ngModel)]="myRating.dateCompleted">
                    </div>
                </div>

                <div class="row top-margin-5">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-1">
                        <ng-container *ngIf="!ratingSaving; else currentlySaving">
                            <button type="button" class="btn btn-info submit-button" (click)="saveRating()" [disabled]="disableSubmission">{{saveButtonText}}</button>
                        </ng-container>
                        <ng-template #currentlySaving>
                            <button type="button" class="btn btn-info submit-button" disabled>Saving...</button>
                        </ng-template>
                    </div>

                    <div class="col-sm-1">
                        <ng-container *ngIf="myRating">
                            <button type="button" class="btn btn-info submit-button" (click)="deleteRating()" [disabled]="disableSubmission">Remove</button>
                        </ng-container>
                    </div>

                    <div class="col-sm-2 error-message" *ngIf="savingError">
                        {{savingError}}
                    </div>
                </div>
            </ng-container>
            
            <ng-template #loadingRating>
                <h1>Loading...</h1>
            </ng-template>

        </div>

        <div class="side-column-section">
            <p><strong>MyAnimeList Details</strong></p>
            
            <div class="row">
                <div class="col-sm-2">
                    <strong>Score:</strong> {{anime.score}}
                    <br>
                    ({{anime.scored_by}}) 
                </div>

                <div class="col-sm-2">
                    <strong>Rank:</strong> {{anime.rank}}
                </div>

                <div class="col-sm-2">
                    <strong>Popularity:</strong> {{anime.popularity}}
                </div>

            </div>
        </div>

        <div class="side-column-section">
            <p><strong>Synopsis: </strong></p>

            <p>{{anime.synopsis}}</p>
        </div>

        <div class="side-column-section">
            <p><strong>Background: </strong></p>

            <p>{{anime.background}}</p>
        </div>

        <div class="side-column-section">
            <p><strong>Related: </strong></p>

            <div class="row striped-rows" *ngIf="anime.related?.Adaptation">
                <div class="col-sm-12">
                    Adaptation:
                        <div class="row">
                            <div class="col-sm-3">Type</div>
                            <div class="col-sm-3">Name</div>
                            <div class="col-sm-3">Hobby Tracker Link</div>
                            <div class="col-sm-3">MAL Link</div>
                        </div>
                        <div class="row" *ngFor="let adaptation of anime.related?.Adaptation">
                            <div class="col-sm-3">{{adaptation.type}}</div>
                            <div class="col-sm-3">{{adaptation.name}}</div>
                            <!-- The hobby route is going to have to depends on the type soo will have to come back later -->
                            <div class="col-sm-3"><a [routerLink]="['/anime', adaptation.mal_id]">Anime Details</a></div> 

                            <div class="col-sm-3"><a [href]="adaptation.url" target="_blank">MyAnimeList</a></div>
                        </div>
                </div>
            </div>

            <div class="row striped-rows" *ngIf="anime.related?.Prequel">
                <div class="col-sm-12">
                    Prequel:
                        <div class="row">
                            <div class="col-sm-3">Type</div>
                            <div class="col-sm-3">Name</div>
                            <div class="col-sm-3">Hobby Tracker Link</div>
                            <div class="col-sm-3">MAL Link</div>
                        </div>
                        <div class="row" *ngFor="let prequel of anime.related?.Prequel">
                            <div class="col-sm-3">{{prequel.type}}</div>
                            <div class="col-sm-3">{{prequel.name}}</div>
                            <!-- The hobby route is going to have to depends on the type soo will have to come back later -->
                            <div class="col-sm-3"><a [routerLink]="['/anime', prequel.mal_id]">Anime Details</a></div> 

                            <div class="col-sm-3"><a [href]="prequel.url" target="_blank">MyAnimeList</a></div>
                        </div>
                </div>
            </div>

            <div class="row striped-rows" *ngIf="anime.related?.Sequel">
                <div class="col-sm-12">
                    Sequel:
                        <div class="row">
                            <div class="col-sm-3">Type</div>
                            <div class="col-sm-3">Name</div>
                            <div class="col-sm-3">Hobby Tracker Link</div>
                            <div class="col-sm-3">MAL Link</div>
                        </div>
                        <div class="row" *ngFor="let sequel of anime.related?.Sequel">
                            <div class="col-sm-3">{{sequel.type}}</div>
                            <div class="col-sm-3">{{sequel.name}}</div>
                            <!-- The hobby route is going to have to depends on the type soo will have to come back later -->
                            <div class="col-sm-3"><a [routerLink]="['/anime', sequel.mal_id]">Anime Details</a></div> 

                            <div class="col-sm-3"><a [href]="sequel.url" target="_blank">MyAnimeList</a></div>
                        </div>
                </div>
            </div>
        </div>

        <div class="side-column-section">
            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Opening Themes: </strong></p>
                    
                    <div class="row" *ngFor="let opening of anime?.opening_themes">
                        <div class="col-sm-12">
                            {{opening}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p><strong>Ending Themes: </strong></p>
                    
                    <div class="row" *ngFor="let ending of anime?.ending_themes">
                        <div class="col-sm-12">
                            {{ending}}
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

    </div>

</div>
</ng-container>
