<div *ngIf="ratingsLoading; else doneLoading">
    Loading...
</div>
  
<ng-template #doneLoading>
    <div class="row table-container" *ngIf="watchingList">
      <div class="col-sm-12">
        <app-list-table [columns]="columns" [data]="watchingList" 
          [routerProperty]="routerProperty" title="Currently Watching" [type]="type">
        </app-list-table>
      </div>
    </div>
  
    <div class="row table-container" *ngIf="completedList">
      <div class="col-sm-12">
        <app-list-table [columns]="columns" [data]="completedList" 
          [routerProperty]="routerProperty" title="Completed" [type]="type">
        </app-list-table>
      </div>
    </div>
  
    <div class="row table-container" *ngIf="planToList" >
      <div class="col-sm-12">
        <app-list-table [columns]="columns" [data]="planToList" 
          [routerProperty]="routerProperty" title="Plan To Watch" [type]="type">
        </app-list-table>
      </div>
    </div>
</ng-template>
  